 label{
    display: block;
    padding-top: 15px;
}

img{
    width:300px;
    margin: 0 10px;
}
.form-group{
    margin: 20px;
}

.input-border{
    border-radius: 6px;
    border-color: black;


}

.input-border:hover{
    transform: scale(1.3);
}